.appBox{
    margin: 10px 0px 15px 0px;
    max-width: 100%;
    padding: 10px;
    background-color: #67C6E3;
    line-height: 23px;
    border-radius: 9px;
    box-shadow: 7px 8px 6px #190482;
}
.application-list{
    margin: 30px;
}
.appListHeading{
    margin: 70px;
}

.appTable td{
    width: 240px;
    padding: 0px 5px;
    font-size: 18px;
}

.viewAppButton{
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
   
   

}
.appBtn{
     border-radius: 10px;

    background-color: #DFF5FF
}
