.dashboardBody {
    background-color: aqua;
    height: 100vh; /* Ensure the background covers at least the viewport height */
    width: 100vw;
}

.Container {    
    display: flex;
    flex-direction: column;
}



.menuBar{
    border: 2px solid black;
    
    margin: 70px 8px 5px 8px;
}

.bodyContent{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 8px 5px 8px ;  
    display: flex;
    width: 98.8vw;
}

.bodyContent div{
    /* width: 400px; */
    height: 72vh;
}

.sideMenu, .mainContent, .noticeSection{
    border: 1px dotted maroon;
    text-align: center;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

.sideMenu{
    width: 250px;
}

.mainContent{
    width: 870px;
}

.noticeSection{
    width: 300px;
}

.menuItems{
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    
}
