.dashboardBody {
    background-color:rgb(226, 238, 238);
    height: 104vh;
}

.Container {    
    display: flex;
    flex-direction: column;
    width: 98.8%;
}


/* 
.menuBar{
  position: relative;
  top: 70px;
  left: 10px;
    border: 2px solid rgb(233, 66, 66);
    width: 100%;
    /* margin: 70px 0px 5px 8px; }*/
/* 
.menuBarItems{
  margin: 2px 18px 2px 18px;
  font-size: 20px;
  cursor: pointer;}  */

.bodyContent{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 8px 5px 8px ;  
    display: flex;
    height: 80vh;

}


.sideMenu, .mainContent, .noticeSection{
    border: 1px solid maroon;
    text-align: center;
    
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

.sideMenu{
    width: 15vw;
    border-radius: 5%;
}

.mainContent{
    width: 50vw;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.mainContentMenu{
    display: flex;
}

.noticeSection{
    width: 15vw;
}

.menuItems{
    padding-left: 20px;
    margin-top: 10px;
    text-align: left;
}

.menuItem{
    margin-bottom: 10px;
}
/* 
.applicationFormButton, .trackApplicationButton, .profileButton{
    background-color: #090e27ba;
    margin: 10px 5px 5px 5px;
    width: 220px;
    height: 180px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* 
.mainContentDetails{
    margin: 0px 5px 5px 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

/* .userDetails, .userHostelDetails, .userExtraDetails{
    background-color: red;
    height: 43px;
    display: flex;
    flex-direction: column;
    border: 1px  solid black;
    border-radius: 5px;
    /* margin: 10px 0px 10px 0px; */
/* } */

.userDetailsApp{
    display: flex;
    justify-content: space-around;
}

.userDetailsApp div{
    padding: 5px 0px 5px 0px;
    width: 385px;
} */
/* 
.appform{
    border-right: 1px solid yellow;
}

.userDetailsHostel{
    display: flex;
    border-top: 1.5px solid black;
}
.userDetailsHostel div{
    
    padding: 3px 5px 1px 5px;
    width: 256px;
}
.hostelNum, .hostelRoomNum{
    border-right: 1px solid yellow;
} */

/* card style */

.containMaincard {
  display: flex;
  flex-wrap: wrap;
}

.mainContentDetails {
  display: flex;
  flex-wrap: wrap;
  /* margin: -20px 0 0 -20px; */
}
/* 
.userDetails {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  padding: 20px 0 0 20px;
}

.userDetails > * {
  margin-bottom: 10px;
} */

.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 0 0 20px;
  background: #00c0ef; /* Default background color */
  
}

.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.card-box:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}

.card-box .inner {
  padding: 5px 10px 0px 10px;
}

.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}

.card-box p {
  font-size: 15px;
}

.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}

.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
  
}

.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}

.bg-blue {
  background-color: #00c0ef !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-orange {
  background-color: #f39c12 !important;
}

/* card style */