nav {
	margin: 27px auto 0;
	position: relative;
	width: 80vw;
	height: 25vh;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav a {
	line-height: 25vh;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	flex: 1;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

/* Adjusted the hover animation selectors */
nav .start-home:hover ~ .animation,
a:nth-child(1):hover ~ .animation {
	left: 0;
	width: 220px;
	background-color: #1abc9c;
}

nav .start-about:hover ~ .animation,
a:nth-child(2):hover ~ .animation {
	left: calc(27% - 80px);
	width: 210px;
	background-color: #e74c3c;
}

nav .start-blog:hover ~ .animation,
a:nth-child(3):hover ~ .animation {
	left: calc(46% - 50px);
	width: 180px;
	background-color: #3498db;
}

nav .start-portefolio:hover ~ .animation,
a:nth-child(4):hover ~ .animation {
	left: calc(69% - 75px);
	width: 170px;
	background-color: #9b59b6;
}
nav .start-Contact:hover ~ .animation,
a:nth-child(5):hover ~ .animation {
	left: calc(87% - 29px);
	width: 160px;
	background-color: #9b59b6;
}

