.App {
  text-align: center;
}

html, body{
  height: 100%;
  margin: 0;
}

.App{
  height: 20vh; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-logo{
  width: 1366px;
  height: 628px;
}
.headInfo{
  display: flex;
  justify-content: center;
  height: 20vh; /* 20% of the outerDiv height */
  width: 100%; /* 100% of the outerDiv width */
  margin-top: 10px;
}
.bodyContent{
  display: flex;
  flex-grow: 1; /* Takes the remaining space */
  width: 100%; 
}
.info{
  border-radius: 1%;  
  background-color: rgba(20,23,25, 0.5);
  width: 600px;
  height: 430px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  color: #FFFFFF;
  margin-right: 10px; /* Margin to the right of div4 */
  flex: 0 0 65%; /* Takes 65% of the available space */
  border: 1px solid #000;
}
.heading{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

}
.form{
  background-color: rgba(20,23,25, 0.5);
  border-radius: 1%;
  width: 620px;
  height: 450px;
  margin-top: 20px;
  
  color: #FFFFFF;

  
  margin-right: 20px; /* Margin to the left of div5 */
  flex-grow: 1; /* Takes the remaining space */
  border: 1px solid #000; 
}
.info:hover, .form:hover{
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(75, 75, 133), 0 0 10px rgb(75, 75, 133), 0 0 15px rgb(75, 75, 133);
  }
  to {
    text-shadow: 0 0 10px rgb(75, 75, 133), 0 0 20px rgb(75, 75, 133), 0 0 30px rgb(75, 75, 133);
  }
}
.loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login, .signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-top: 10px;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  width: 110px;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.login{
  margin-right: 10px;
}
.login:hover, .signup:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;}
  #username{
    width: 260px;
    height: 28px;
    border-radius: 2px;
    border: 0px ;
  }
  #password{
    width: 260px;
    height: 28px;
    border-radius: 2px;
    border: 0px;
  }
  .passforget{
    
    color: aliceblue;
    
  }

 

.content {
    padding: 20px; /* Example padding for content */
}

.eye-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: -23px; /* Adjust the positioning as needed */
  font-family: "Font Awesome";
}

.eye-unlock, .eye-lock {
  display: inline-block;
  font-family: "Font Awesome"; /* Example font family containing the Unicode characters */
}

/* Add the following CSS animation for the background slideshow */

/* Define the keyframes for the slideshow */
/*  */

/* Apply the animation to the body element */
body {
  animation: slideshow 20s infinite linear; /* Adjust timing and animation function as needed */
}



  
  